:root{
    /* bg */
    --bg-color:rgba(0, 0, 0, 0.828);
    --bg-button-color:rgba(0, 0, 0, 0.669);
    --primary-text-color:rgb(217, 210, 210);
    --bg-task-color:rgba(28, 28, 28, 0.804);
    --delete-color:rgba(255, 0, 0, 0.789);

    /* padding */
    --nav-padding:15px 30px;
    --section-padding:15px 30px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-al:20px;
    


    /* border */
    --border-radius-s:5px;
    --border-radius-m:10px;
    --border-radius-l:15px;
    --border-radius-xl:20px;
    --border-radius-xxl:30px;
}
